@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body{
  height:100vh;
  align-items: center;
  justify-content: center;
}

.container{
  position: relative;
  margin-left: 450px;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

.container .forms{
  padding: 30px;
}


.container .form .title{
  position: relative;
   font-size: 27px;
   font-weight: 600;

}

.form .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #285ef1;
  border-radius: 25px;
}

.form .input-field{
  margin-right: 10px;
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 40px;
}

.input-field input{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
  border-bottom-color:#4070f4;
}

.input-field i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
  color:#4070f4;
}

.input-field i.icon{
  left: 0;
}

.input-field i.showHidePw{
  right: 0;
}

.form .checkbox-text{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content{
  display: flex;
  align-items: center;
}

.checkbox-content input{
  margin:0 8px -2px 4px;
  accent-color: #4070f4;
}

.form .text{
  color:#333;
  font-size: 14px;
}

.form a.text{
  color: #4070f4;
  text-decoration:none;
}
.form a:hover{
  text-decoration: underline;
}

.form .botton{
  margin-top: 35px;
}

.form .button input{
  border:none;
  color:#fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color:#4070f4;
  cursor: pointer;
  transition:all 0.3s ease;
}

.button input:hover{
  background-color: #265df2;
}

.form .login-signup{
  margin-top:30px;
  text-align:center;
}

.img-fluid{
  width:72px;
  height:72px;
  top:103px;
  margin-left:550px;
  margin-bottom: 50px;
}
.logo{
  height:80px;
  width:auto;
  float:left;
  margin-top:30px;
}
#logo-name{
  float:right;
  font-size: 30px;
  text-indent:-780%;
  margin-top: 15px;
  margin-left: 10%;
  color:#262525
}

footer{
  background-color: black;
  font-size: 80%;
  height: 240px;
  color: #ffffff;
}
#footer-img{
  width: 80px;
  float: left;
  margin-top: 50px;
  margin-left: 70px;
 
}
#head{
  color: white;
  float: left;
  width:10px;
  font-size: 50px;
  margin-top:55px;
}
 footer p a{
     margin-top: 5px;
     font-size: 15px;
     color:#ffffff;
 }
 footer p a:hover{
  cursor: pointer;
 }
 #link{
  padding-top:40px;
  text-indent:400px;
 }
 .set2{
   margin:20px;
   text-indent: 400px;
 }
.set3{
  list-style: none;
   float: left;
  color: white;
}

.socail_network{
  color: white;
  font-size: 30px;
  margin-top: 20px;
  padding-left: 2810%;
}
#set3{
  font-size: 15px;
  margin-top: -130px;
  margin-left:1000px;
}
ion-icon {
  cursor: pointer;
}
footer li{
  display: inline-block;
   margin-right: 20px;
   margin-top:5px;

}
#hello{
  border: 2px solid skyblue;
  background-color: rgb(153, 208, 243);
  margin-left: -140px;
}